.latest-course-item-image:hover {
    .latest-red-image {
        display: block;
        }
    .button-second {
        display: block;
    }
}

.latest-course-item-image:hover {
    .latest-yellow-image {
        display: block;
        }
    .button-second {
        display: block;
    }
}

.latest-course-item-image:hover {
    .latest-green-image {
        display: block;
        }
    .button-second {
        display: block;
    }
}


.latest-red-image {
    opacity: 0.7;
    background-color: #ff7a63;
    display: none;
    position: absolute;
    height: 220px;
    width: 292px;
}
.latest-yellow-image {
    opacity: 0.7;
    background-color: #ffcf8c;
    display: none;
    position: absolute;
    height: 220px;
    width: 292px;
}
.latest-green-image {
    opacity: 0.7;
    background-color: #2aba80;
    display: none;
    position: absolute;
    height: 220px;
    width: 292px;
}

.button-second {
    display: none;
    position: absolute;
    cursor: pointer; 
    height: 30px;
    width: 103px;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    margin-left: 90px;
    margin-top: 100px;
}

.icons-conteiner-icon-badge:hover {        
        background-color: #2aba80;
        i {
        color: white;
        }
    }

.teacher-red:hover {
    .teacher-face-blok-foto {
        background-color: #ff7a63;
        opacity: 0.4;
    }
    .teacher-face-blok-description {
        background-color: white;
        color: black;
        border: 1px solid #ff7a63;
    }
    i {
        color: #ff7a63;
    }
    .teacher-face-blok-description-zelle {
        background-color: #ff7a63;
    }
}

.teacher-yellow:hover {
    .teacher-face-blok-foto {
        background-color: #ffcf8c;
        opacity: 0.4;
    }
    .teacher-face-blok-description {
        background-color: white;
        color: black;
        border: 1px solid #ffcf8c;
    }
    i {
        color: #ffcf8c;
    }
    .teacher-face-blok-description-zelle {
        background-color: #ffcf8c;
    }
}

.teacher-green:hover {
    .teacher-face-blok-foto {
        background-color: #2aba80;
        opacity: 0.4;
    }
    .teacher-face-blok-description {
        background-color: white;
        color: black;
        border: 1px solid #2aba80;
    }
    i {
        color: #2aba80;
    }
    .teacher-face-blok-description-zelle {
        background-color: #2aba80;
    }
}

.teacher-grey:hover {
    .teacher-face-blok-foto {
        background-color: #4f4f4f;
        opacity: 0.4;
    }
    .teacher-face-blok-description {
        background-color: white;
        color: black;
        border: 1px solid #4f4f4f;
    }
    i {
        color: #4f4f4f;
    }
    .teacher-face-blok-description-zelle {
        background-color: #4f4f4f;
    }
}

.us-back-foto-button-rigth:hover, .us-back-foto-button-left:hover {
        background-color: silver;
        color: white;
}

.video-blok:hover {
    .video-blok-button {
        background-color: #2aba80;
        color: white;
    }
}

.icons-conteiner-description-button:hover {
    background-color: #2aba80;
    color: white;
}

.us-back-text-content-button:hover {
    background-color: #2aba80;
    color: white;
}

.community-blok-fight:hover {
    .community-blok-fight-circle {
        background-color: white;
        color: #ff7a63;
    }
    .community-blok-fight-text {
        background-color: #ff7a63;
        color: white;
    }
}

.community-blok-third:hover {
    .community-blok-third-circle {
        background-color: white;
        color: #2aba80;
    }
    .community-blok-third-text {
        background-color: #2aba80;
        color: white;
    }
}

.community-blok-second:hover {
    .community-blok-second-circle {
        background-color: white;
        color: #ffcf8c;
    }
    .community-blok-second-text {
        background-color: #ffcf8c;
        color: white;
    }
}

.last-icon-badge:hover {
    background-color: #ff7a63;
}

.last-three-review:hover {
    .button {
        background-color: #2aba80;
        color: white;
    }
}

.menu:hover {
    .menu-item {
        color: #ff7a63;
    }
}
.menu-item-no-line:hover {
    color: #ff7a63;
}

.lower-menu:hover {
    color: #ff7a63;
}

.lower-menu-no-line:hover {
    color: #ff7a63;
}

.panel:hover {
    .panel-heading {
    color: white;
    background-color: #2aba80;
        a {
            text-decoration: none;
        }   
    }
}