.zelle-three-color {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #BBB;
}
.zelle-three-color .zelle-conteiner-color-red {
  background-color: #ff7a63;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color .zelle-conteiner-color-yellow {
  background-color: #ffcf8c;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color .zelle-conteiner-color-green {
  background-color: #2aba80;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-white {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.zelle-three-color-white .zelle-conteiner-color-red {
  background-color: #ff7a63;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-white .zelle-conteiner-color-white {
  background-color: white;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-white .zelle-conteiner-color-green {
  background-color: #2aba80;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-yellow {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.zelle-three-color-yellow .zelle-conteiner-color-red {
  background-color: #ff7a63;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-yellow .zelle-conteiner-color-yellow {
  background-color: #ffcf8c;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-yellow .zelle-conteiner-color-white {
  background-color: white;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
body {
  margin: 0;
}
.temp-back {
  width: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}
.root {
  width: 100%;
  max-width: 1508px;
  height: auto;
  margin-bottom: 1px;
}
.root .nav-size {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.root .nav-size .nav {
  width: 920px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  align-items: center;
}
.root .nav-size .nav .logo {
  display: flex;
}
.root .nav-size .nav .logo .logo-image {
  background-image: url('img/logo.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
}
.root .nav-size .nav .logo .logo-text {
  font-size: 26px;
  margin-top: 19px;
  letter-spacing: 2px;
  color: white;
}
.root .nav-size .nav .menu {
  display: flex;
  justify-content: space-between;
  width: 395px;
  margin-left: 329px;
  font-size: 11px;
  margin-top: 9px;
  color: white;
  z-index: 2;
}
.root .nav-size .nav .menu .menu-item {
  padding-right: 15px;
  border-right: 1px solid #BBB;
  cursor: pointer;
  z-index: 3;
}
.root .nav-size .nav .menu .menu-item-no-line {
  cursor: pointer;
  z-index: 3;
}
.root .carousel-control {
  width: 64px;
  bottom: 15px;
}
.root .carousel-control span {
  padding-left: 0px;
  opacity: 0.5;
}
.join-us-container {
  width: 100%;
  height: 850px;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  position: absolute;
}
.join-us-container .join-us-content {
  width: 742px;
  height: 265px;
  padding-left: 148px;
  display: flex;
  flex-direction: column;
}
.join-us-container .join-us-content .join-us-content-first-block {
  background-color: #999999;
  font-size: 52px;
  text-align: center;
  color: #ff7a63;
  opacity: 0.4;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 82px;
  line-height: 82px;
  margin-top: 75px;
}
.join-us-container .join-us-content .join-us-content-text {
  font-size: 17px;
  color: #EEE;
  padding-top: 9px;
}
.join-us-container .join-us-content .join-us-content-button {
  background-color: #ff7a63;
  color: #EEE;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 138px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
}
.join-us-container .join-us-content .join-us-content-nav {
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  position: absolute;
  top: 50%;
  background-color: #999999;
  opacity: 0.3;
  font-size: 22px;
  margin-top: -24px;
}
.join-us-container .join-us-content .join-us-content-nav-left {
  left: 15px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  color: white;
}
.join-us-container .join-us-content .join-us-content-nav-right {
  right: 15px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  color: white;
}
.latest-courses {
  display: flex;
  flex-direction: column;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
}
.latest-courses .latest-courses-label {
  margin: 51px 0 21px 0;
  text-align: center;
  font-size: 26px;
}
.latest-courses .latest-courses-container {
  display: flex;
  justify-content: space-between;
}
.latest-courses .latest-courses-container .latest-course-item {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 369px;
  border-radius: 3px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-image {
  height: 220px;
  width: 292px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-image img {
  height: 220px;
  width: 292px;
  position: absolute;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-title {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
  background-color: black;
  color: white;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr {
  height: 118px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr .course-item-descr-first-block {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px 0 20px;
  color: white;
  height: 48px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr .course-item-descr-second-block {
  height: 1px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEE;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr .course-item-descr-third-block {
  color: #EEE;
  text-align: center;
  padding: 14px 10px;
}
.red {
  background-color: #ff7a63;
}
.yellow {
  background-color: #ffcf8c;
}
.green {
  background-color: #2aba80;
}
.grey {
  background-color: #4f4f4f;
}
.icons-conteiner {
  display: flex;
  width: 920px;
  height: 327px;
  margin-left: auto;
  margin-right: auto;
}
.icons-conteiner .icons-conteiner-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 207px;
  margin-top: 48px;
  width: calc(460px);
  /*.icons-conteiner-icon-badge-color {
                                height: 76px;
                                width: 76px;
                                margin-right: 32px;
                                color: @text-color-bright;
                                background-color: @light-green;
                                border-top-left-radius: 8px;
                                border-bottom-right-radius: 8px;
                                font-size: 50px;
                                text-align: center;
                                line-height: 1.5;
                            }*/
}
.icons-conteiner .icons-conteiner-icon .icons-conteiner-icon-badge {
  height: 76px;
  width: 76px;
  margin-right: 35px;
  border: 1px solid #2aba80;
  color: #2aba80;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}
.icons-conteiner .icons-conteiner-description {
  display: flex;
  flex-direction: column;
  width: calc(460px);
  /*position: absolute;*/
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-text {
  line-height: 0.6;
  margin-top: 33px;
  font-family: 'Times New Roman', Times, serif;
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-text h3 {
  font-size: 27px;
  padding-left: 11px;
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-text h6 {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 14px;
  margin-top: 25px;
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-button {
  margin-left: 344px;
  margin-top: 41px;
  border: 1px solid #2aba80;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  width: 114px;
  font-size: 14px;
  cursor: pointer;
}
.statistics-conteiner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 299px;
  background-image: url('img/band.png');
  background-size: contain;
  font-style: italic;
}
.statistics-conteiner .statistics-conteiner-effect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 86px 42px;
  width: 94px;
  text-align: center;
  color: #EEE;
}
.statistics-conteiner .statistics-conteiner-effect .simbol {
  font-size: 47px;
  margin-top: -9px;
}
.statistics-conteiner .statistics-conteiner-effect .number {
  font-size: 33px;
  margin-top: 9px;
}
.statistics-conteiner .statistics-conteiner-effect .text {
  font-size: 12px;
}
.work {
  height: 764px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.work .work-text {
  text-align: center;
  margin-top: 53px;
  font-size: 26px;
}
.work .work-blok {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 650px;
  width: 100%;
  margin-top: 20px;
  font-weight: 100;
  font-family: sans-serif;
}
.work .work-blok .work-blok-vertical {
  position: absolute;
  width: 1px;
  height: 650px;
  background-color: #dbdbdb;
  margin-left: 459px;
}
.work .work-blok .work-blok-first {
  position: relative;
  height: 156px;
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.work .work-blok .work-blok-first .work-blok-first-figure {
  margin-left: 79px;
  width: 316px;
  display: flex;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa {
  border-radius: 3px;
  border: 1px solid #ff7a63;
  display: flex;
  height: 100%;
  width: 292px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa i {
  position: absolute;
  font-size: 100px;
  color: #ff7a63;
  margin-left: 3px;
  margin-top: 60px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa .work-blok-first-figure-text {
  position: relative;
  background-color: #ff7a63;
  width: 235px;
  margin-left: 54px;
  text-align: left;
  padding: 0 36px 0 27px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa .work-blok-first-figure-text h3 {
  font-size: 14px;
  padding-top: 11px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa .work-blok-first-figure-text h6 {
  font-size: 12px;
  line-height: 1.8em;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-angle-figure {
  border: 24px solid;
  border-left: 24px solid #ff7a63;
  margin: 56px -2px;
}
.work .work-blok .work-blok-first .work-blok-first-circle {
  height: 30px;
  width: 30px;
  margin-left: -114px;
  margin-top: 63px;
  border-radius: 50%;
  border: 3px solid #ff7a63;
}
.work .work-blok .work-blok-first .work-blok-first-step {
  height: 63px;
  width: 125px;
  margin-right: 157px;
  margin-top: 46px;
  background-color: #ff7a63;
  text-align: center;
  line-height: 63px;
  font-size: 26px;
  border-radius: 9px;
}
.work .work-blok .work-blok-second {
  position: relative;
  height: 157px;
  margin-top: 47px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  color: white;
}
.work .work-blok .work-blok-second .work-blok-second-figure {
  width: 316px;
  margin-right: 98px;
  display: flex;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-angle-figure {
  border: 24px solid;
  border-right: 24px solid #ffcf8c;
  margin: 56px -2px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa {
  border-radius: 3px;
  border: 1px solid #ffcf8c;
  display: inline-flex;
  height: 100%;
  width: 292px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa .work-blok-second-figure-text {
  position: relative;
  background-color: #ffcf8c;
  width: 235px;
  margin-right: 54px;
  text-align: left;
  padding: 0 36px 0 27px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa .work-blok-second-figure-text h3 {
  font-size: 14px;
  padding-top: 11px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa .work-blok-second-figure-text h6 {
  font-size: 12px;
  line-height: 1.8em;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa i {
  position: absolute;
  font-size: 100px;
  color: #ffcf8c;
  margin-left: 176px;
  margin-top: 60px;
}
.work .work-blok .work-blok-second .work-blok-second-circle {
  height: 30px;
  width: 30px;
  margin-right: -134px;
  margin-top: 63px;
  border-radius: 50%;
  border: 3px solid #ffcf8c;
}
.work .work-blok .work-blok-second .work-blok-second-step {
  height: 63px;
  width: 125px;
  margin-left: 157px;
  margin-top: 46px;
  background-color: #ffcf8c;
  text-align: center;
  line-height: 63px;
  font-size: 26px;
  border-radius: 9px;
}
.work .work-blok .work-blok-third {
  position: relative;
  height: 158px;
  margin-top: 47px;
  display: inline-flex;
  justify-content: space-between;
  color: white;
}
.work .work-blok .work-blok-third .work-blok-third-figure {
  width: 316px;
  margin-left: 79px;
  display: flex;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa {
  border-radius: 3px;
  border: 1px solid #2aba80;
  display: inline-flex;
  height: 100%;
  width: 292px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa i {
  position: absolute;
  font-size: 100px;
  color: #2aba80;
  margin-left: 3px;
  margin-top: 53px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa .work-blok-third-figure-text {
  position: relative;
  background-color: #2aba80;
  width: 235px;
  margin-left: 54px;
  text-align: left;
  padding: 0 36px 0 27px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa .work-blok-third-figure-text h3 {
  font-size: 14px;
  padding-top: 11px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa .work-blok-third-figure-text h6 {
  font-size: 12px;
  line-height: 1.8em;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-angle-figure {
  border: 24px solid;
  border-left: 24px solid #2aba80;
  margin: 56px -2px;
}
.work .work-blok .work-blok-third-circle {
  height: 30px;
  width: 30px;
  margin-left: -114px;
  margin-top: 65px;
  border-radius: 50%;
  border: 3px solid #2aba80;
}
.work .work-blok .work-blok-third-step {
  height: 63px;
  width: 125px;
  margin-right: 157px;
  margin-top: 48px;
  background-color: #2aba80;
  text-align: center;
  line-height: 63px;
  font-size: 26px;
  border-radius: 9px;
}
.picture {
  height: 362px;
  width: 100%;
  background-image: url('img/pictures.png');
  background-size: cover;
  opacity: 0.7;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picture .picture-text {
  font-size: 27px;
  margin-top: -14px;
}
.picture .picture-button {
  border: 1px solid;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 113px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 20px;
}
.training {
  height: 302px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}
.training .training-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.training .training-flex .magistr {
  width: calc(460px);
  padding-top: 29px;
}
.training .training-flex .weoffer {
  width: calc(460px);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*.weoffer-menu {    
                            display: flex;
                            height: 45px;
                            padding-left: 13px;
                            padding-top: 24px;
                            font-size: 12px;
                                .weoffer-menu-black {
                                    padding-left: 25px;
                                }
                                .weoffer-menu-red {
                                    color: red;
                                        .weoffer-menu-redzelle {
                                            border-bottom: 1px solid red;
                                            padding-top: 6px;
                                        }
                        }}*/
}
.training .training-flex .weoffer .weoffer-text h3 {
  font-size: 29px;
  padding-left: 10px;
}
.training .training-flex .weoffer .weoffer-text p {
  font-size: 15px;
  line-height: 1.2;
  padding-top: 12px;
  padding-left: 14px;
}
.us-text {
  text-align: center;
  font-size: 25px;
  margin: 50px auto 22px auto;
  width: 920px;
}
.us-back {
  width: 920px;
  height: 409px;
  margin: 0 auto;
}
.us-back .us-back-tabs {
  width: 920px;
  height: 360px;
  display: flex;
  flex-direction: column;
}
.us-back .us-back-tabs .tab-container {
  width: 920px;
  height: 100%;
  display: flex;
}
.us-back .us-back-tabs .tab-container .tab-content {
  width: calc(460px);
}
.us-back .us-back-tabs .tab-container .tab-content .us-back-text-content-button {
  height: 30px;
  width: 111px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #2aba80;
  line-height: 29px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.us-back .us-back-tabs .tab-container .us-back-foto {
  width: calc(460px);
  height: 304px;
  margin-left: 53px;
  margin-top: 3px;
  border-radius: 3px;
}
.us-back .us-back-tabs .tab-container .us-back-foto img {
  height: 304px;
}
.us-back .us-back-tabs .tab-container .us-back-foto .carousel-control {
  width: 0%;
  background-color: white;
}
.us-back .us-back-tabs .tab-container .us-back-foto .us-back-foto-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #BBB;
  position: relative;
  z-index: 2;
  top: -140px;
}
.us-back .us-back-tabs .tab-container .us-back-foto .us-back-foto-button .us-back-foto-button-left {
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #BBB;
  cursor: pointer;
}
.us-back .us-back-tabs .tab-container .us-back-foto .us-back-foto-button .us-back-foto-button-rigth {
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  margin-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #BBB;
  cursor: pointer;
}
.us-back .panel-group {
  width: 412px;
}
.us-back .panel .panel-default {
  height: 30px;
}
.us-back .panel-heading {
  padding: 5px 10px;
}
.us-back .panel-heading .panel-title {
  font-size: 14px;
}
.us-back .panel-body {
  padding: 5px;
}
.email {
  width: 100%;
  background-image: url('img/bandyellow.png');
  background-size: contain;
}
.email .email-size {
  height: 299px;
  width: calc(670px);
  margin-left: auto;
  margin-right: auto;
}
.email .email-size .email-size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
}
.email .email-size .email-size-container .email-text {
  font-size: 27px;
  margin-top: 67px;
  margin-bottom: 4px;
}
.email .email-size .email-size-container .email-detail {
  text-align: center;
  margin-top: 11px;
  margin-bottom: 27px;
}
.email .email-size .email-size-container .email-search {
  display: inline-block;
}
.email .email-size .email-size-container .email-search input {
  height: 30px;
  width: 385px;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 11px;
  margin-right: -3px;
}
.email .email-size .email-size-container .email-search button {
  height: 32px;
  width: 96px;
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  background-color: #2aba80;
  color: white;
}
.teacher {
  height: 484px;
  width: 920px;
  display: flex;
  flex-direction: column;
  margin: 52px auto 14px auto;
}
.teacher .teacher-text {
  text-align: center;
  font-size: 25px;
  padding-right: 4px;
}
.teacher .teacher-face {
  height: 403px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 22px;
}
.teacher .teacher-face .teacher-face-blok {
  display: flex;
  height: 173px;
  width: 430px;
  margin-bottom: 30px;
  color: #EEE;
  border-radius: 3px;
  cursor: crosshair;
  border: 1px solid;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-foto {
  width: 163px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 264px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-name .description-name {
  line-height: 2.7;
  margin-top: 4px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-name .description-professor {
  margin-bottom: 11px;
  font-size: 11px;
  margin-top: -7px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-zelle-blok {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-zelle-blok .teacher-face-blok-description-zelle {
  height: 3px;
  width: 57px;
  top: 1px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-detail {
  font-size: 13px;
  margin: 12px 16px 15px 16px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-icons i {
  font-size: 16px;
  padding: 0, 6px;
}
.video {
  height: 374px;
  width: 920px;
  margin: 0 auto;
}
.video .video-flex {
  display: flex;
  height: 100%;
}
.video .video-flex .video-clip {
  width: calc(460px);
  height: 100%;
}
.video .video-flex .video-clip video {
  width: 430px;
  height: 242px;
  margin-top: 60px;
  border-radius: 3px;
}
.video .video-flex .video-blok {
  width: calc(460px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.video .video-flex .video-blok .video-blok-text {
  height: 250px;
  padding-left: 30px;
  margin-bottom: 31px;
}
.video .video-flex .video-blok .video-blok-text h3 {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: -1px;
  margin-top: 52px;
}
.video .video-flex .video-blok .video-blok-text p {
  font-size: 13px;
  margin-top: 2em;
}
.video .video-flex .video-blok .video-blok-button {
  height: 31px;
  width: 112px;
  border: 1px solid #2aba80;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 13px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  margin-left: 345px;
}
.twitter {
  height: 299px;
  width: 100%;
  background-image: url('img/bandgreen.png');
  background-size: contain;
}
.twitter .twitter-size {
  height: 299px;
  width: calc(582px);
  margin-left: auto;
  margin-right: auto;
}
.twitter .twitter-size .twitter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
.twitter .twitter-size .twitter-container .twitter-icon {
  height: 53px;
  width: 53px;
  margin-top: 63px;
  margin-bottom: 24px;
  border: 1px solid white;
  color: white;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 27px;
  text-align: center;
  line-height: 2;
}
.twitter .twitter-size .twitter-container .twitter-text {
  margin-top: 4px;
}
.twitter .twitter-size .twitter-container .twitter-text h4 {
  font-size: 15px;
  color: white;
}
.twitter .twitter-size .twitter-container .twitter-text h6 {
  margin-top: 16px;
  font-size: 13px;
  color: white;
}
.twitter .twitter-size .twitter-container .twitter-text h5 {
  margin-top: 15px;
  font-size: 12px;
  color: #4f4f4f;
}
.colortext {
  color: #4f4f4f;
}
.community {
  height: 419px;
  width: 920px;
  margin: 52px auto 63px auto;
}
.community .community-text {
  text-align: center;
  font-size: 27px;
}
.community .community-blok {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 363px;
  width: 100%;
  margin-top: 19px;
}
.community .community-blok .community-blok-fight {
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  border: 1px solid;
  border-bottom-color: #BBB;
  border-left-color: #BBB;
  border-right-color: #BBB;
  border-top-color: #ff7a63;
  /*.community-blok-fight-big-line {
                        width: 100%;
                        height: 1px;
                        background-color: @light-red;
                        top: 1px;
                        position: relative;
                    }*/
}
.community .community-blok .community-blok-fight .community-blok-fight-caption {
  margin-top: 28px;
  font-size: 13px;
  font-weight: 800;
  color: #ff7a63;
}
.community .community-blok .community-blok-fight .community-blok-fight-circle-big {
  height: 126px;
  width: 126px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 32px;
  background-color: #ff7a63;
  color: white;
}
.community .community-blok .community-blok-fight .community-blok-fight-circle-big .community-blok-fight-circle {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  line-height: 2.2;
  text-align: center;
  font-size: 52px;
  margin: 8px;
}
.community .community-blok .community-blok-fight .community-blok-fight-small-line {
  width: calc(56%);
  height: 1px;
  background-color: #ff7a63;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-fight .community-blok-fight-text {
  height: 128px;
}
.community .community-blok .community-blok-second {
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  border: 1px solid;
  border-bottom-color: #BBB;
  border-left-color: #BBB;
  border-right-color: #BBB;
  border-top-color: #ffcf8c;
  /*.community-blok-second-big-line {
                        width: 100%;
                        height: 1px;
                        background-color: @light-yellow;
                        top: 1px;
                        position: relative;
                    }*/
}
.community .community-blok .community-blok-second .community-blok-second-caption {
  margin-top: 28px;
  font-size: 13px;
  font-weight: 800;
  color: #ffcf8c;
}
.community .community-blok .community-blok-second .community-blok-second-circle-big {
  height: 126px;
  width: 126px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 32px;
  background-color: #ffcf8c;
  color: white;
}
.community .community-blok .community-blok-second .community-blok-second-circle-big .community-blok-second-circle {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  line-height: 2.2;
  text-align: center;
  font-size: 52px;
  margin: 8px;
}
.community .community-blok .community-blok-second .community-blok-second-small-line {
  width: calc(56%);
  height: 1px;
  background-color: #ffcf8c;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-second .community-blok-second-text {
  /*margin-top: 30px;
                        color: white;
                        background-color: @light-yellow;*/
  height: 128px;
}
.community .community-blok .community-blok-third {
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  border: 1px solid;
  border-bottom-color: #BBB;
  border-left-color: #BBB;
  border-right-color: #BBB;
  border-top-color: #2aba80;
  /*.community-blok-third-big-line {
                        width: 100%;
                        height: 1px;
                        background-color: @light-green;
                        top: 1px;
                        position: relative;
                    }*/
}
.community .community-blok .community-blok-third .community-blok-third-caption {
  margin-top: 28px;
  font-size: 13px;
  font-weight: 800;
  color: #2aba80;
}
.community .community-blok .community-blok-third .community-blok-third-circle-big {
  height: 126px;
  width: 126px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 32px;
  background-color: #2aba80;
  color: white;
}
.community .community-blok .community-blok-third .community-blok-third-circle-big .community-blok-third-circle {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  line-height: 2.2;
  text-align: center;
  font-size: 52px;
  margin: 8px;
}
.community .community-blok .community-blok-third .community-blok-third-small-line {
  width: calc(56%);
  height: 1px;
  background-color: #2aba80;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-third .community-blok-third-text {
  height: 128px;
}
.community h6 {
  font-size: 14px;
  margin: 33px;
  line-height: 1.3;
  font-weight: 100;
}
.test {
  height: 296px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.test img {
  opacity: 0.3;
  height: 282px;
  width: 920px;
  z-index: 6;
}
.test .carousel-inner {
  height: 282px;
}
.test .carousel-inner .carousel-caption {
  height: 100%;
  width: 920px;
  right: 0%;
  left: 0%;
  z-index: 7;
  display: flex;
}
.test .carousel-inner .carousel-caption .carousel-foto {
  margin: 10px;
  z-index: 8;
  border: 1px solid #BBB;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 76px;
  width: 76px;
  margin-left: 80px;
  margin-top: 110px;
}
.test .carousel-inner .carousel-caption .carousel-foto img {
  height: 76px;
  width: 76px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1px;
}
.test .carousel-inner .carousel-caption .carousel-text {
  margin: 35px 180px 0px 0;
  text-align: center;
  z-index: 9;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.test .carousel-inner .carousel-caption .carousel-text h3 {
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.test .carousel-inner .carousel-caption .carousel-text h5 {
  font-weight: 100;
  line-height: 1.4em;
  font-stretch: expanded;
}
.test .carousel-control {
  width: 0%;
  background-color: white;
}
.map {
  height: 316px;
  width: 100%;
  opacity: 0.5;
}
.last-color {
  height: 345px;
  width: 100%;
  background-color: #4f4f4f;
}
.last-color .last {
  height: 100%;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.last-color .last .last-blok {
  height: 100%;
  width: 920px;
  display: flex;
  justify-content: space-between;
}
.last-color .last .last-blok .last-blok-one {
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
}
.last-color .last .last-blok .last-blok-one .last-button {
  color: white;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 40px;
  line-height: 2.8;
  width: 290px;
  font-size: 16px;
  margin-top: 29px;
  padding-left: 10px;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
}
.last-color .last .last-blok .last-blok-one .last-button i {
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 19px;
}
.last-color .last .last-blok .last-blok-one .last-text {
  color: white;
  font-size: 17px;
  height: 92px;
}
.last-color .last .last-blok .last-blok-one .last-text h6 {
  margin-top: 22px;
  font-weight: 100;
  line-height: 1.5;
}
.last-color .last .last-blok .last-blok-one .last-text .text-font {
  font-weight: 900;
  padding-left: 0px;
}
.last-color .last .last-blok .last-blok-one .last-contact {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: white;
  font-size: 14px;
  height: 100px;
}
.last-color .last .last-blok .last-blok-one .last-contact .last-contact-line {
  margin-bottom: -1px;
}
.last-color .last .last-blok .last-blok-one .last-icon {
  display: flex;
  margin-top: 18px;
}
.last-color .last .last-blok .last-blok-one .last-icon .last-icon-badge {
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ff7a63;
  height: 27px;
  line-height: 1.5;
  width: 27px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 7px;
  text-align: center;
}
.last-color .last .last-blok .last-blok-one .last-icon .last-icon-badge i {
  color: white;
  font-size: 15px;
}
.last-color .last .last-blok .last-blok-two {
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
}
.last-color .last .last-blok .last-blok-two .last-button-two {
  color: white;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 40px;
  line-height: 2.8;
  width: 290px;
  font-size: 16px;
  margin-top: 29px;
  padding-left: 10px;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
}
.last-color .last .last-blok .last-blok-two .last-button-two i {
  color: black;
  font-size: 25px;
  margin-top: 8px;
  margin-right: 12px;
}
.last-color .last .last-blok .last-blok-two .last-blok-two-name {
  width: 100%;
  height: 113px;
  display: flex;
}
.last-color .last .last-blok .last-blok-two .last-blok-two-name .last-blok-two-name-foto {
  width: 104px;
  height: 65px;
  margin-top: 26px;
  background-image: url(img/teacher.png);
  background-size: cover;
}
.last-color .last .last-blok .last-blok-two .last-blok-two-name .last-blok-two-name-text {
  margin: 24px 0 21px 13px;
  font-size: 10px;
  line-height: 1.1em;
}
.last-color .last .last-blok .last-blok-two .last-blok-two-name .last-blok-two-name-text p {
  color: white;
}
.last-color .last .last-blok .last-blok-two .last-blok-two-name .last-blok-two-name-text p .color-time {
  color: #ffcf8c;
  padding-left: 0px;
}
.last-color .last .last-blok .last-blok-two .last-blok-two-line {
  width: 100%;
  height: 1px;
  background-color: #BBB;
}
.last-color .last .last-blok-three {
  height: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
}
.last-color .last .last-blok-three .last-button-three {
  color: white;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 40px;
  line-height: 2.8;
  width: 290px;
  font-size: 15px;
  margin-top: 30px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
}
.last-color .last .last-blok-three .last-button-three i {
  color: black;
  font-size: 24px;
  margin-top: 8px;
  margin-right: 12px;
}
.last-color .last .last-blok-three .last-three-review {
  height: 221px;
  margin-top: 22px;
  background-color: #4f4f4f;
}
.last-color .last .last-blok-three .last-three-review .review input {
  border: 1px solid #BBB;
  height: 28px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #4f4f4f;
  color: white;
  font-style: italic;
  padding-left: 5px;
}
.last-color .last .last-blok-three .last-three-review .review textarea {
  height: 106px;
  width: 100%;
  background-color: #4f4f4f;
  color: white;
  font-style: italic;
  padding-left: 5px;
}
.last-color .last .last-blok-three .last-three-review button {
  border: 2px solid #2aba80;
  color: #2aba80;
  background-color: #4f4f4f;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 13px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  margin-left: 176px;
  height: 32px;
  width: 114px;
  margin-top: 5px;
}
.lower-color {
  height: 48px;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.lower-color .lower-size {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.lower-color .lower-size .lower {
  display: flex;
  justify-content: space-between;
}
.lower-color .lower-size .lower .lower-reserved {
  margin-top: 13px;
  color: white;
  font-size: 11px;
}
.lower-color .lower-size .lower .lower-reserved i {
  font-size: 15px;
}
.lower-color .lower-size .lower .lower-menu-blok {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: white;
  font-size: 11px;
  width: 334px;
}
.lower-color .lower-size .lower .lower-menu-blok .lower-menu {
  padding-right: 11px;
  border-right: 1px solid #BBB;
  cursor: pointer;
}
.lower-color .lower-size .lower .lower-menu-blok .lower-menu-no-line {
  cursor: pointer;
}
.we-tab {
  margin-top: 35px;
}
.we-tab ul li a {
  padding: 11px;
  font-size: 12px;
  color: black;
}
.we-tab .nav {
  margin-top: 40px;
}
.we-tab .nav-tabs {
  border: none;
}
.we-tab .nav-tabs > li {
  border: none;
}
.carousel-control .glyphicon-chevron-left {
  display: none;
}
.carousel-control .glyphicon-chevron-right {
  display: none;
}
