.zelle-three-color {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #BBB;
}
.zelle-three-color .zelle-conteiner-color-red {
  background-color: #ff7a63;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color .zelle-conteiner-color-yellow {
  background-color: #ffcf8c;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color .zelle-conteiner-color-green {
  background-color: #2aba80;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-white {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.zelle-three-color-white .zelle-conteiner-color-red {
  background-color: #ff7a63;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-white .zelle-conteiner-color-white {
  background-color: white;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-white .zelle-conteiner-color-green {
  background-color: #2aba80;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-yellow {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.zelle-three-color-yellow .zelle-conteiner-color-red {
  background-color: #ff7a63;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-yellow .zelle-conteiner-color-yellow {
  background-color: #ffcf8c;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
.zelle-three-color-yellow .zelle-conteiner-color-white {
  background-color: white;
  width: 36px;
  height: 1px;
  position: relative;
  top: 1px;
}
body {
  margin: 0;
}
img {
  position: absolute;
}
.temp-back {
  width: 100%;
  opacity: 0.5;
  position: absolute;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.nav .logo {
  display: flex;
  align-items: center;
}
.nav .logo .logo-image {
  background-image: url('img/logo.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}
.nav .logo .logo-text {
  font-size: 30px;
  margin-top: -8px;
}
.nav .menu {
  display: flex;
  align-items: center;
}
.nav .menu .menu-item {
  padding: 0 10px;
  cursor: pointer;
}
.join-us-container {
  width: 100%;
  height: 850px;
  margin-top: -70px;
  background: url(img/back1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.join-us-container .join-us-content {
  width: calc(50% -  150px);
  padding-left: 150px;
}
.join-us-container .join-us-content .join-us-content-first-block {
  background-color: #999999;
  font-size: 52px;
  text-align: center;
  color: #ff7a63;
  opacity: 0.4;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 82px;
  line-height: 82px;
  margin-top: 75px;
}
.join-us-container .join-us-content .join-us-content-text {
  font-size: 18px;
  color: #EEE;
  padding-top: 8px;
}
.join-us-container .join-us-content .join-us-content-button {
  background-color: #ff7a63;
  color: #EEE;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 138px;
  font-size: 20px;
  cursor: pointer;
}
.join-us-container .join-us-content .join-us-content-nav {
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  position: absolute;
  top: 50%;
  background-color: #999999;
  opacity: 0.3;
  font-size: 22px;
  margin-top: -24px;
}
.join-us-container .join-us-content .join-us-content-nav-left {
  left: 15px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}
.join-us-container .join-us-content .join-us-content-nav-right {
  right: 15px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.latest-courses {
  display: flex;
  flex-direction: column;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.latest-courses .latest-courses-label {
  margin: 52px 0 24px 0;
  text-align: center;
  font-size: 28px;
}
.latest-courses .latest-courses-container {
  display: flex;
  justify-content: space-between;
}
.latest-courses .latest-courses-container .latest-course-item {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 370px;
  border-radius: 3px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-image {
  height: 220px;
  /*background-image: url(img/teacher.png);
                background-size: cover;*/
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-title {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
  background-color: black;
  color: white;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr {
  height: 118px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr .course-item-descr-first-block {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  color: white;
  height: 50px;
  line-height: 50px;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr .course-item-descr-second-block {
  height: 1px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEE;
}
.latest-courses .latest-courses-container .latest-course-item .latest-course-item-descr .course-item-descr-third-block {
  color: #EEE;
  text-align: center;
  padding: 15px 10px;
}
.red {
  background-color: #ff7a63;
}
.yellow {
  background-color: #ffcf8c;
}
.green {
  background-color: #2aba80;
}
.grey {
  background-color: #4f4f4f;
}
.icons-conteiner {
  display: flex;
  width: 920px;
  height: 322px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
.icons-conteiner .icons-conteiner-icon {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 207px;
  margin-top: 43px;
  width: calc(460px);
  /*.icons-conteiner-icon-badge-color {
                                height: 76px;
                                width: 76px;
                                margin-right: 32px;
                                color: @text-color-bright;
                                background-color: @light-green;
                                border-top-left-radius: 8px;
                                border-bottom-right-radius: 8px;
                                font-size: 50px;
                                text-align: center;
                                line-height: 1.5;
                            }*/
}
.icons-conteiner .icons-conteiner-icon .icons-conteiner-icon-badge {
  height: 76px;
  width: 76px;
  margin-right: 32px;
  border: 1px solid #2aba80;
  color: #2aba80;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}
.icons-conteiner .icons-conteiner-description {
  display: flex;
  flex-direction: column;
  width: calc(460px);
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-text {
  line-height: 0.6;
  font-family: 'Times New Roman', Times, serif;
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-text h3 {
  font-size: 27px;
  padding-left: 8px;
  padding-top: 27px;
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-text h6 {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 14px;
}
.icons-conteiner .icons-conteiner-description .icons-conteiner-description-button {
  margin-left: 343px;
  margin-top: 18px;
  border: 1px solid #2aba80;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 111px;
  font-size: 14px;
  cursor: pointer;
}
.statistics-conteiner {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 298px;
  background-image: url('img/band.png');
  background-size: contain;
  font-family: cursive;
}
.statistics-conteiner .statistics-conteiner-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
  margin-right: 42px;
  width: 94px;
  text-align: center;
  color: #EEE;
}
.statistics-conteiner .statistics-conteiner-effect .simbol {
  width: 50px;
  height: 50px;
  font-size: 47px;
  padding-bottom: 24px;
}
.statistics-conteiner .statistics-conteiner-effect .number {
  font-size: 33px;
}
.statistics-conteiner .statistics-conteiner-effect .text {
  font-size: 14px;
}
.work {
  height: 761px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.work .work-text {
  text-align: center;
  margin-top: 56px;
  font-size: 28px;
}
.work .work-blok {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 650px;
  width: 100%;
  margin-top: 20px;
  font-weight: 100;
  font-family: sans-serif;
}
.work .work-blok .work-blok-vertical {
  position: absolute;
  width: 1px;
  height: 650px;
  background-color: #dbdbdb;
  margin-left: 459px;
}
.work .work-blok .work-blok-first {
  position: relative;
  height: 156px;
  margin-top: 33px;
  display: inline-flex;
  justify-content: space-between;
  color: white;
}
.work .work-blok .work-blok-first .work-blok-first-figure {
  margin-left: 77px;
  width: 316px;
  display: inline-flex;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa {
  border-radius: 3px;
  border: 1px solid #ff7a63;
  display: inline-flex;
  height: 100%;
  width: 288px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa i {
  position: absolute;
  font-size: 100px;
  color: #ff7a63;
  margin-left: 3px;
  margin-top: 60px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa .work-blok-first-figure-text {
  position: relative;
  background-color: #ff7a63;
  width: 235px;
  margin-left: 54px;
  text-align: left;
  padding: 0 26px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa .work-blok-first-figure-text h3 {
  font-size: 15px;
  padding-top: 12px;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-figure-fa .work-blok-first-figure-text h6 {
  font-size: 12px;
  line-height: 1.5em;
}
.work .work-blok .work-blok-first .work-blok-first-figure .work-blok-first-angle-figure {
  border: 24px solid;
  border-left: 24px solid #ff7a63;
  margin: 56px -1px;
}
.work .work-blok .work-blok-first .work-blok-first-circle {
  height: 30px;
  width: 30px;
  margin-left: -110px;
  margin-top: 63px;
  border-radius: 50%;
  border: 3px solid #ff7a63;
}
.work .work-blok .work-blok-first .work-blok-first-step {
  height: 63px;
  width: 125px;
  margin-right: 157px;
  margin-top: 48px;
  background-color: #ff7a63;
  text-align: center;
  line-height: 63px;
  font-size: 26px;
  border-radius: 9px;
}
.work .work-blok .work-blok-second {
  position: relative;
  height: 156px;
  margin-top: 47px;
  border: 1px solid;
  display: inline-flex;
  justify-content: space-between;
  color: white;
}
.work .work-blok .work-blok-second .work-blok-second-figure {
  width: 313px;
  margin-right: 104px;
  display: inline-flex;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-angle-figure {
  border: 24px solid;
  border-right: 24px solid #ffcf8c;
  margin: 56px -1px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa {
  border-radius: 3px;
  border: 1px solid #ffcf8c;
  display: inline-flex;
  height: 100%;
  width: 288px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa .work-blok-second-figure-text {
  position: relative;
  background-color: #ffcf8c;
  width: 235px;
  margin-right: 54px;
  text-align: left;
  padding: 0 26px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa .work-blok-second-figure-text h3 {
  font-size: 15px;
  padding-top: 12px;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa .work-blok-second-figure-text h6 {
  font-size: 12px;
  line-height: 1.5em;
}
.work .work-blok .work-blok-second .work-blok-second-figure .work-blok-second-figure-fa i {
  position: absolute;
  font-size: 100px;
  color: #ffcf8c;
  margin-left: 176px;
  margin-top: 60px;
}
.work .work-blok .work-blok-second .work-blok-second-circle {
  height: 30px;
  width: 30px;
  margin-right: -134px;
  margin-top: 63px;
  border-radius: 50%;
  border: 3px solid #ffcf8c;
}
.work .work-blok .work-blok-second .work-blok-second-step {
  height: 63px;
  width: 125px;
  margin-left: 157px;
  margin-top: 48px;
  background-color: #ffcf8c;
  text-align: center;
  line-height: 63px;
  font-size: 26px;
  border-radius: 9px;
}
.work .work-blok .work-blok-third {
  position: relative;
  height: 156px;
  margin-top: 47px;
  display: inline-flex;
  justify-content: space-between;
  color: white;
}
.work .work-blok .work-blok-third .work-blok-third-figure {
  width: 313px;
  margin-left: 77px;
  display: inline-flex;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa {
  border-radius: 3px;
  border: 1px solid #2aba80;
  display: inline-flex;
  height: 100%;
  width: 288px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa i {
  position: absolute;
  font-size: 100px;
  color: #2aba80;
  margin-left: 3px;
  margin-top: 53px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa .work-blok-third-figure-text {
  position: relative;
  background-color: #2aba80;
  width: 235px;
  margin-left: 54px;
  text-align: left;
  padding: 0 26px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa .work-blok-third-figure-text h3 {
  font-size: 15px;
  padding-top: 12px;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-figure-fa .work-blok-third-figure-text h6 {
  font-size: 12px;
  line-height: 1.5em;
}
.work .work-blok .work-blok-third .work-blok-third-figure .work-blok-third-angle-figure {
  border: 24px solid;
  border-left: 24px solid #2aba80;
  margin: 56px -1px;
}
.work .work-blok .work-blok-third-circle {
  height: 30px;
  width: 30px;
  margin-left: -110px;
  margin-top: 63px;
  border-radius: 50%;
  border: 3px solid #2aba80;
}
.work .work-blok .work-blok-third-step {
  height: 63px;
  width: 125px;
  margin-right: 157px;
  margin-top: 48px;
  background-color: #2aba80;
  text-align: center;
  line-height: 63px;
  font-size: 26px;
  border-radius: 9px;
}
.picture {
  height: 362px;
  width: 100%;
  background-image: url('img/pictures.png');
  background-size: cover;
  opacity: 0.7;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picture .picture-text {
  font-size: 31px;
  margin-top: 130px;
}
.picture .picture-button {
  border: 1px solid;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 111px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 23px;
}
.training {
  height: 302px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}
.training .training-flex {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.training .training-flex .magistr {
  width: calc(460px);
  padding-top: 29px;
}
.training .training-flex .weoffer {
  width: calc(460px);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.training .training-flex .weoffer .weoffer-text h3 {
  font-size: 27px;
  padding-left: 10px;
  padding-top: 27px;
  margin-bottom: -8px;
}
.training .training-flex .weoffer .weoffer-text h6 {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 14px;
}
.training .training-flex .weoffer .weoffer-menu {
  display: inline-flex;
  height: 45px;
  padding-left: 13px;
  padding-top: 24px;
  font-size: 12px;
}
.training .training-flex .weoffer .weoffer-menu .weoffer-menu-black {
  padding-left: 25px;
}
.training .training-flex .weoffer .weoffer-menu .weoffer-menu-red {
  color: red;
}
.training .training-flex .weoffer .weoffer-menu .weoffer-menu-red .weoffer-menu-redzelle {
  border-bottom: 1px solid red;
  padding-top: 6px;
}
.us-text {
  height: 55px;
  text-align: center;
  font-size: 29px;
  margin: 50px auto 0px auto;
  width: 920px;
}
.us-back {
  display: flex;
  flex-direction: column;
  width: 920px;
  height: 408px;
  margin: 0 auto;
}
.us-back .us-back-tabs {
  display: inline-flex;
  text-align: center;
  width: 920px;
  height: 30px;
}
.us-back .us-back-tabs .us-back-tabs-one {
  width: 140px;
  border: 1px solid #BBB;
  margin: 0px 2px;
  line-height: 2em;
  font-size: 13px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
}
.us-back .us-back-text-conteiner {
  display: inline-flex;
  width: 920px;
  height: 378px;
}
.us-back .us-back-text-conteiner .us-back-text-content {
  width: calc(460px);
  /*.us-back-text-content-tabs {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;  
                                            margin-top: -17px;                                          
                                                /*.us-back-text-content-tabs-one{  
                                                    width: calc(@content-width/2 - 55px);                                                  
                                                    height: 25px;
                                                    border: 1px solid @light-silver;
                                                    margin-top: 3px;
                                                }
                                        }*/
}
.us-back .us-back-text-conteiner .us-back-text-content .us-back-text {
  padding-top: 4px;
}
.us-back .us-back-text-conteiner .us-back-text-content .us-back-text h6 {
  margin-top: -3px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.5em;
}
.us-back .us-back-text-conteiner .us-back-text-content .us-back-text-content-button {
  height: 30px;
  width: 111px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #2aba80;
  line-height: 29px;
  margin-top: 55px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.us-back .us-back-text-conteiner .us-back-foto {
  width: 457px;
  height: 298px;
  margin-top: 17px;
  margin-left: 52px;
  background-image: url("img/man.png");
  background-size: contain;
}
.us-back .us-back-text-conteiner .us-back-foto .us-back-foto-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: brown;
}
.us-back .us-back-text-conteiner .us-back-foto .us-back-foto-button .us-back-foto-button-left {
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  margin-left: 3px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid brown;
  cursor: pointer;
}
.us-back .us-back-text-conteiner .us-back-foto .us-back-foto-button .us-back-foto-button-rigth {
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  margin-right: 6px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid brown;
  cursor: pointer;
}
.email {
  height: 298px;
  width: 100%;
  background-image: url('img/bandyellow.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.email .email-text {
  margin-top: 70px;
  margin-bottom: 7px;
  font-size: 28px;
}
.email .email-detail {
  margin: 15px 430px;
  text-align: center;
}
.email-search {
  display: inline-block;
  margin-top: 7px;
}
.email-search input {
  height: 30px;
  width: 385px;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 11px;
  margin-right: -3px;
}
.email-search button {
  height: 32px;
  width: 96px;
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  background-color: #2aba80;
  color: white;
}
.teacher {
  height: 487px;
  width: 920px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.teacher .teacher-text {
  text-align: center;
  font-size: 29px;
  padding-top: 55px;
  padding-right: 4px;
}
.teacher .teacher-face {
  height: 403px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
}
.teacher .teacher-face .teacher-face-blok {
  display: inline-flex;
  height: 173px;
  width: 427px;
  margin-bottom: 30px;
  color: #EEE;
  border-radius: 3px;
  cursor: pointer;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-foto {
  width: 163px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 264px;
  /*background-color: #ff8e7a;
                        color: @text-color-bright;*/
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-name .description-name {
  height: 32px;
  line-height: 2.5;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-name .description-professor {
  height: 29px;
  font-size: 13px;
  margin-top: -2px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-zelle {
  height: 3px;
  width: 57px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  top: 1px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-detail {
  height: 78px;
  font-size: 15px;
  padding: 14px 16px;
}
.teacher .teacher-face .teacher-face-blok .teacher-face-blok-description .teacher-face-blok-description-icons {
  height: 30px;
  font-size: 23px;
}
.video {
  height: 373px;
  width: 920px;
  margin: 0 auto;
}
.video .video-flex {
  display: inline-flex;
  height: 100%;
}
.video .video-flex .video-clip {
  width: calc(460px);
  height: 100%;
}
.video .video-flex .video-clip video {
  width: 420px;
  height: 235px;
  padding-top: 64px;
}
.video .video-flex .video-blok {
  width: calc(460px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.video .video-flex .video-blok .video-blok-text {
  height: 250px;
  padding-left: 30px;
  margin-top: -5px;
}
.video .video-flex .video-blok .video-blok-text h3 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: -1px;
  margin-top: 52px;
}
.video .video-flex .video-blok .video-blok-text p {
  font-size: 13px;
  margin-top: 2.1em;
}
.video .video-flex .video-blok .video-blok-button {
  height: 31px;
  width: 112px;
  border: 1px solid #2aba80;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 15px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  margin-left: 345px;
  margin-top: 34px;
}
.twitter {
  height: 298px;
  width: 100%;
  background-image: url('img/bandgreen.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.twitter .twitter-icon {
  height: 52px;
  width: 52px;
  margin-top: 64px;
  margin-bottom: 21px;
  border: 1px solid white;
  color: white;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 27px;
  text-align: center;
  line-height: 2;
}
.twitter .twitter-text {
  margin-top: -6px;
}
.twitter .twitter-text h4 {
  font-size: 15px;
  color: white;
}
.twitter .twitter-text h6 {
  margin-top: -5px;
  font-size: 13px;
  color: white;
}
.twitter .twitter-text h5 {
  margin-top: -18px;
  font-size: 13px;
  color: #4f4f4f;
}
.colortext {
  color: #4f4f4f;
}
.community {
  height: 419px;
  width: 920px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.community .community-text {
  text-align: center;
  font-size: 29px;
  margin-top: 53px;
}
.community .community-blok {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 363px;
  width: 100%;
  margin-top: 23px;
}
.community .community-blok .community-blok-fight {
  height: 100%;
  width: 287px;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}
.community .community-blok .community-blok-fight .community-blok-fight-big-line {
  width: 100%;
  height: 1px;
  background-color: #ff7a63;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-fight .community-blok-fight-caption {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 800;
  color: #ff7a63;
}
.community .community-blok .community-blok-fight .community-blok-fight-circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-top: 28px;
  margin-left: 4px;
  background-color: #ff7a63;
  text-align: center;
  color: white;
  font-size: 52px;
  line-height: 2.5;
  margin-bottom: 34px;
}
.community .community-blok .community-blok-fight .community-blok-fight-small-line {
  width: calc(56%);
  height: 1px;
  background-color: #ff7a63;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-second {
  height: 100%;
  width: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}
.community .community-blok .community-blok-second .community-blok-second-big-line {
  width: 100%;
  height: 1px;
  background-color: #ffcf8c;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-second .community-blok-second-caption {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 800;
  color: #ffcf8c;
}
.community .community-blok .community-blok-second .community-blok-second-circle {
  height: 111px;
  width: 111px;
  margin-top: 29px;
  border-radius: 50%;
  text-align: center;
  color: #ffcf8c;
  font-size: 50px;
  line-height: 2.4;
  border: 9px solid #ffcf8c;
  margin-bottom: 34px;
}
.community .community-blok .community-blok-second .community-blok-second-small-line {
  width: calc(56%);
  height: 1px;
  background-color: #ffcf8c;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-second .community-blok-second-text {
  /*margin-top: 30px;
                        color: white;
                        background-color: @light-yellow;*/
}
.community .community-blok .community-blok-third {
  height: 100%;
  width: 287px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}
.community .community-blok .community-blok-third .community-blok-third-big-line {
  width: 100%;
  height: 1px;
  background-color: #2aba80;
  top: 1px;
  position: relative;
}
.community .community-blok .community-blok-third .community-blok-third-caption {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 800;
  color: #2aba80;
}
.community .community-blok .community-blok-third .community-blok-third-circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-top: 28px;
  margin-left: 4px;
  background-color: #2aba80;
  text-align: center;
  color: white;
  font-size: 52px;
  line-height: 2.5;
  margin-bottom: 34px;
}
.community .community-blok .community-blok-third .community-blok-third-small-line {
  width: calc(56%);
  height: 1px;
  background-color: #2aba80;
  top: 1px;
  position: relative;
}
.community h6 {
  font-size: 15px;
  margin: 30px;
  line-height: 1.3;
  font-weight: 100;
}
.test {
  height: 291px;
  width: 920px;
}
.map {
  height: 316px;
  width: 100%;
}
.last {
  height: 393px;
  width: 100%;
}
