.UsBackTabsLess {
    .us-back {
  width: 600px;
  height: 360px;
  background: #ccc;
}
.about {
  position: absolute;
}
.block {
  top: 26px;
  left: 50px;
  right: 40px;
  bottom: 20px;
  display: none;
}
a {
  text-decoration: none;
  color: #222;
  margin-right: 20px;
}
a:hover {
  color: #000;
}
a:visited {
  font-weight: bold;
}
.tabs {
  background: #ededed;
  font-family: monostace;
  top: 58px;
  width: 520px;
  height: 270px;
}
.tabs p {
  top: 16px;
  font-family: monostace;
}
p {
  font-size: 44px;
  font-family: monostace;
  top: 48px;
  left: 70px;
  color: #aaa;
  line-height: 44px;
}
#one {
  display: block;
}
div:target {
  display: block;
}
div[id*=tab]:target {
  display: block;
}
div[id*=tab]:target ~ #tab {
  display: block;
}
div[id*=t]:target ~ #one {
  display: none;
}
}